svg {
  width: 96%;
  height: 96%;
  padding: 2%; }

.county {
  font-size: 12px;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #ffffff;
  stroke-width: 0.60000002;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker-start: none;
  fill: #006bb1; }
  .county:hover {
    fill: #18a4ff; }
  .county.selected {
    fill: green; }
    .county.selected:hover {
      fill: #00e600; }
