<!DOCTYPE html><%
    require 'digest'
    def decache_file name
        hash = Digest::SHA1.new
        File.open name do |f|
            hash << f.read
        end
        "#{name}?#{Digest.hexencode hash.digest}"
    end
%>
<html>
    <head>
        <title>Geo Quiz</title>

        <script src="src/jquery-1.7.2.js"></script>
        <script src="src/jquery.svg.js"></script>
        <script src="src/jquery.svgdom.js"></script>
        <script src="<%= decache_file 'assets/quiz.js' %>"></script>
        <link rel="stylesheet" type="text/css" href="<%= decache_file 'assets/style.css' %>"/>
    </head>

    <body>
        <object id="geo" data="nc_counties.svg" type="image/svg+xml"></object>

        <div id="quiz">
            <div>
                Find
                <span id="wanted"></span>
            </div>

            <div>
                You selected
                <span id="selected"></span>
            </div>

            <div>
                <span id="attempts">0</span>
                attempts
            </div>

            <button id='next'>Next question</button>
            <button id="reveal">Reveal answer</button>
        </div>
    </body>
</html>

