svg {
    width:  96%;
    height: 96%;
    padding: 2%;
}

@mixin fill($fill) {
    fill: $fill;

    &:hover {
        fill:            lighten($fill, 20%);
    }
}

.county {
    font-size:           12px;
    fill-opacity:        1;
    fill-rule:           nonzero;
    stroke:              #ffffff;
    stroke-width:        0.60000002;
    stroke-linecap:      butt;
    stroke-linejoin:     bevel;
    stroke-miterlimit:   4;
    stroke-opacity:      1;
    stroke-dasharray:    none;
    marker-start:        none;

    @include fill(#006bb1);

    &.tried {
        @include fill(red);
    }

    &.selected {
        @include fill(green);
    }
}

